<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Barber shop</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

    <ul>
        <li> <a th:href="@{/home/index}">Home</a></li>
        <li> <a th:href="@{/barber-shop/turnos}">Turnos</a></li>
        <li> <a th:href="@{/home/nosotros-info}">Nosotros</a></li>
        <li> <a th:href="@{/home/contacto-info}">Contacto</a></li>
    </ul>

    <form>

        <input>
        <input>
        <input>

    </form>

</body>
</html>