<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Barber shop</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

    <ul>
        <li> <a th:href="@{/home/index}">Home</a></li>
        <li> <a th:href="@{/barber-shop/turnos}">Turnos</a></li>
        <li> <a th:href="@{/home/nosotros-info}">Nosotros</a></li>
        <li> <a th:href="@{/home/contacto-info}">Contacto</a></li>
    </ul>

    <div>
        <form th:action="@{/barber-shop/procesar-formulario-turno}"
              th:object="${turno}" method="POST">

            <span> selecciona el dia : </span>

            <select th:field="*{dia}">

                <option th:each="fecha : ${fechas}"
                        th:value="${fecha}"
                        th:text="${#temporals.format(fecha, 'EEE dd-MM-yyyy')}" />

            </select>

            <br>

            <span> selecciona el horario : </span>

            <select th:field="*{horario}">

                <option th:each="tmp : ${horarios}" th:value="${tmp}" th:text="${tmp}"  />

            </select>

            <br>

            <span> ingresa tu nombre : </span>

            <input type="text" th:value="${nombre}" placeholder="nombre">

            <br>

            <span> ingresa un numero de contacto : </span>

            <input type="text" th:value="${cel}" placeholder="numero de cel">

            <br><br>

            <button>Enviar</button>

        </form>
    </div>

</body>
</html>